#pd{
  text-align: center;
  font-weight: bold;
  color: red;
  font-family: fantasy;
}
/* #cf{
  background-color: #BB8FCE;
} */
@keyframes anilla{
0%{background-color: #3498DB;}
25%{background-color:#F4D03F; }
50%{background-color: #138D75;}
75%{background-color: #7F8C8D;}
100%{background-color: #F7F9F9;}
}
#cf{
  animation-name: anilla;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background-color: #3498DB;

}
